
.body {
    background: #f6f3ed;
    font-family: "Open Sans";
}

.control-label {
    padding-left: 0 !important;
    text-align: left !important;
    font-weight: 700;
}

.header {
    background: #ee325d; 
}

.right {
    text-align: right !important;
}



.navbar-header h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.header small {
    color: #fff;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

html {
    color: #666;
    font-family: "Open Sans", sans-serif;
}

.form-control {
    border: 1px solid #ddd !important;
    outline: 0;
    border-radius: 0;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.form-control:focus {
    border-color: #aaa !important;
    box-shadow: none;
}