@{
    ViewBag.Title = "За студентските документи";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <b>Колку пријави за испит имате пополнето во досегашното студирање?</b>
</p>
<p>
    Ова прашање ја започна целата идеја и приказна околу сервисот „Студентски Документи“. 
    Во време во кое (речиси) се се пополнува компјутерски, документацијата за испитите се уште ја пополнуваме - рачно! 
</p>
<p>
    Од сега, Вашите пријави може да ги пополните побрзо, поефикасно и почитко! Користете го овој сервис и заштедете време!
</p>