@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ул. „Рокомија“ бр. 28<br />
    1000 Скопје, Бутел <br />
    <abbr title="Phone">Тел:</abbr>
    +389 (0)70939854
</address>

<address>
    <strong>Развој:</strong>   <a href="mailto:kti1742012@feit.ukim.edu.mk">Андреј Георгиевски</a>
</address>