@{
    ViewBag.Title = "Студентски документи";
}

<div class="jumbotron">
    <h1>Добредојдовте!</h1>
    <p class="lead">
        Студентски документи е сервис кој овозможува брзо и лесно пополнување на документи - директно од Вашиот компјутер!</p>
    <p><a href=@Url.Action("Create", "Students", null) class="btn btn-primary btn-lg">Сакам и јас &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Пополнувајте брзо и лесно</h2>
        <p>
            Внесете ги Вашите податоци, изберете тип на документ кој сакате да го испечатите и вметнете го документот во печатачот - лесно!
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Students", null)>Започнете тука &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Изберете помеѓу повеќе видови на документи</h2>
        <p>Овој сервис Ви овозможува да прегледате и/или да испечатите повеќе видови на студентски документи. Изборот е Ваш!</p>
        <p><a class="btn btn-default" href="#">Прегледај &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Споделете идеи</h2>
        <p>Дополнувањата и подобрувањата на овој сервис делумно зависат од Вас! Споделете желби, пофалби и/или критики!</p>
        <p><a class="btn btn-default" href=@Url.Action("Contact", "Home", null)>Секако &raquo;</a></p>
    </div>
</div>